<div class="mb-2" style="padding: 4px;">
  <p class="text-main fw-bold fs-5">今月の目標　達成度</p>
    <div class="square align-middle　align-middle">
      <% total_points_month = @point_activity_targets_month.sum(&:total_target_point) %>
      <% total_get_points_month = @point_activity_get_this_month.sum(&:total_get_point) %>
      <p class="text-secondary fw-bold fs-5">今月の目標ポイント</p>
      <p class="fw-bold fs-1"><%= total_points_month %></p>
      <p class="text-secondary fw-bold fs-5">目標ポイントまで残り</p>
      <p class="fw-bold fs-1"><%= total_points_month -  total_get_points_month %></p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: <%= (total_get_points_month.to_f / total_points_month * 100).round(2) %>%;">
          <%= total_get_points_month %>
        </div>
      </div>
    </div>
</div>

<div class="mb-2" style="padding: 4px;">
  <p class="text-main fw-bold fs-5">設定しているポイかつ</p>
  <div class="card shadow">
    <div class="card-body p-3">
      <% @point_activity_targets_month.each do |point_activity_target| %>
        <% point_activity = PointActivity.find(point_activity_target.point_activity_id) %>
        <div class="d-flex align-items-center border-bottom py-1">
          <p class="card-text fw-bold fs-5"><%= point_activity.point_activity_title %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mb-2" style="padding: 4px;">
  <p class="text-main fw-bold fs-5">おすすめのポイかつ</p>
  <div class="card shadow">
    <div class="card-body p-3">
      <% point_activity_ids = @point_activity_targets_month.pluck(:point_activity_id) %>
      <% recommended_activities = PointActivity.where.not(id: point_activity_ids) %>
      <% if recommended_activities.count >= 5 %>
        <% recommended_activities = recommended_activities.order(Arel.sql('RAND()')).limit(5) %>
      <% else %>
        <% extra_activities_count = 5 - recommended_activities.count %>
        <% extra_activities = PointActivity.where.not(id: point_activity_ids).where.not(id: recommended_activities.pluck(:id)).order(Arel.sql('RAND()')).limit(extra_activities_count) %>
        <% recommended_activities = recommended_activities + extra_activities %>
      <% end %>
      <% recommended_activities.each do |activity| %>
        <div class="d-flex align-items-center border-bottom py-1">
          <p class="card-text fw-bold fs-5"><%= activity.point_activity_title %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>