<% if current_user %>
  <div class="mb-2" style="padding: 4px;">
    <p class="text-main fw-bold fs-5">今月の目標　達成度</p>
    <div class="square align-middle">
      <% total_points_month = @point_activity_targets_month.sum(&:total_target_point) %>
      <% total_get_points_month = @point_activity_get_this_month.sum(&:total_get_point) %>
      <% remaining_points = total_points_month - total_get_points_month %>
      
      <p class="text-secondary fw-bold fs-5">今月の目標ポイント</p>
      <p class="fw-bold fs-1"><%= total_points_month %></p>
      <p class="text-secondary fw-bold fs-5">目標ポイントまで残り</p>
      <% if remaining_points <= 0 && total_points_month != 0 %>
        <p class="fw-bold fs-1 text-info">目標達成！！</p>
      <% else %>
        <p class="fw-bold fs-1"><%= remaining_points %></p>
      <% end %>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: <%= (total_get_points_month.to_f / total_points_month * 100).round(2) %>%;">
          <%= total_get_points_month %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user %>
  <% if current_user.point_activity_targets.any? %>
    <div class="mb-2" style="padding: 4px;">
      <p class="text-main fw-bold fs-5">設定しているポイかつ</p>
      <div class="card shadow">
        <div class="card-body p-3">
          <% current_user.point_activity_targets.group_by { |pat| pat.point_activity_id }.each do |point_activity_id, targets| %>
            <% point_activity = PointActivity.find(point_activity_id) %>
            <div class="d-flex align-items-center justify-content-between border-bottom py-1">
              <p class="card-text fw-bold fs-5 mb-0"><%= point_activity.point_activity_title %></p>
              <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  +1
                </button>
                <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  +5
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="mb-2" style="padding: 4px;">
  <p class="text-main fw-bold fs-5">おすすめのポイかつ</p>
  <div class="card shadow">
    <div class="card-body p-3">
      <% user_point_activity_ids = current_user.point_activity_targets.pluck(:point_activity_id) %>
      <% available_activities = PointActivity.where.not(id: user_point_activity_ids) %>
      <% if available_activities.count >= 5 %>
        <% recommended_activities = available_activities.order(Arel.sql('RAND()')).limit(5) %>
      <% else %>
        <% extra_activities_count = 5 - available_activities.count %>
        <% extra_activities = PointActivity.where.not(id: user_point_activity_ids).where.not(id: recommended_activities.pluck(:id)).order(Arel.sql('RAND()')).limit(extra_activities_count) %>
        <% recommended_activities = available_activities + extra_activities %>
      <% end %>
      <% recommended_activities.each do |activity| %>
        <div class="d-flex align-items-center border-bottom py-1">
          <p class="card-text fw-bold fs-5"><%= activity.point_activity_title %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
