<div class="container">
  <div class="row justify-content-between">
    <div class="text-main text-center fs-1 ms-2 mt-8">
      <p>すきま時間でちいさなポイかつ！</p>
      <p>ゆる〜く始めてチリツモな成果を上げよう</p>
    </div>
    <div class="col-md-4 mt-5">
      <%= render "sidebar_get"%>
    </div>
    <div class="col-md-3 mt-5">
      <div class="mb-2" style="padding: 4px;">
        <p class="text-main text-center fw-bold fs-5">ポイかつ便利アイテム</p>
        <%= render partial: "clocks/time.html.erb"%>
        <%= render partial: "countdown_timers/countdown.html.erb"%>
        <%= render partial: "countdown_timers/countdown2.html.erb"%>
        
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <%= render "sidebar_target"%>
    </div>
  </div>
</div>